<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Luxe Interieur"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bed10"></activity>
        <activity android:name=".bed9" />
        <activity android:name=".bed8" />
        <activity android:name=".bed7" />
        <activity android:name=".ViewPagerAdapter" />
        <activity android:name=".VickyCharles" />
        <activity android:name=".TBrooks" />
        <activity android:name=".TF" />
        <activity android:name=".TOB" />
        <activity android:name=".Share" />
        <activity android:name=".RomanandWilliams" />
        <activity android:name=".Profile" />
        <activity android:name=".PeterMarino" />
        <activity android:name=".NateBarkus" />
        <activity android:name=".Michael" />
        <activity android:name=".MartynLawerence" />
        <activity android:name=".Kenfulk" />
        <activity android:name=".KellyWrestler" />
        <activity android:name=".KathrineMayline" />
        <activity android:name=".JanathinBlackaney" />
        <activity android:name=".JonathanAlder" />
        <activity android:name=".joanaganies" />
        <activity android:name=".JacquesGrange" />
        <activity android:name=".indiaMadhavi" />
        <activity android:name=".HigherDecorater" />
        <activity android:name=".EmilyHenderson" />
        <activity android:name=".DecoratorsRecycleView" />
        <activity android:name=".Decoraters" />
        <activity android:name=".Bobbyberk" />
        <activity android:name=".AxelVoordt" />
        <activity android:name=".ui.tools.ViewPagerAdapter" />
        <activity android:name=".tabi" />
        <activity android:name=".mainn" />
        <activity android:name=".creditcard" />
        <activity android:name=".signup" />
        <activity android:name=".ui.home.forgot" />
        <activity android:name=".c10" />
        <activity android:name=".c9" />
        <activity android:name=".c8" />
        <activity android:name=".c7" />
        <activity android:name=".c6" />
        <activity android:name=".c5" />
        <activity android:name=".c4" />
        <activity android:name=".c3" />
        <activity android:name=".c2" />
        <activity android:name=".c1" />
        <activity android:name=".ofl10" />
        <activity android:name=".ofl9" />
        <activity android:name=".ofl8" />
        <activity android:name=".ofl7" />
        <activity android:name=".ofl6" />
        <activity android:name=".ofl5" />
        <activity android:name=".ofl4" />
        <activity android:name=".ofl3" />
        <activity android:name=".ofl2" />
        <activity android:name=".ofl1" />
        <activity android:name=".ob10" />
        <activity android:name=".ob9" />
        <activity android:name=".ob8" />
        <activity android:name=".ob7" />
        <activity android:name=".ob6" />
        <activity android:name=".ob5" />
        <activity android:name=".ob4" />
        <activity android:name=".ob3" />
        <activity android:name=".ob2" />
        <activity android:name=".ob1" />
        <activity android:name=".of7" />
        <activity android:name=".of10" />
        <activity android:name=".of9" />
        <activity android:name=".of8" />
        <activity android:name=".of6" />
        <activity android:name=".of5" />
        <activity android:name=".of4" />
        <activity android:name=".of3" />
        <activity android:name=".of2" />
        <activity android:name=".of1" />
        <activity android:name=".menu8" />
        <activity android:name=".menu7" />
        <activity android:name=".menu6" />
        <activity android:name=".menu5" />
        <activity android:name=".menu4" />
        <activity android:name=".menu3" />
        <activity android:name=".menu2" />
        <activity android:name=".contac" />
        <activity android:name=".display" />
        <activity android:name=".menu" />
        <activity android:name=".lounge9" />
        <activity android:name=".lounge8" />
        <activity android:name=".lounge7" />
        <activity android:name=".lounge6" />
        <activity android:name=".lounge5" />
        <activity android:name=".lounge4" />
        <activity android:name=".lounge3" />
        <activity android:name=".lounge2" />
        <activity android:name=".lounge1" />
        <activity android:name=".kitchen10" />
        <activity android:name=".kitchen9" />
        <activity android:name=".kitchen8" />
        <activity android:name=".kitchen7" />
        <activity android:name=".kitchen6" />
        <activity android:name=".kitchen5" />
        <activity android:name=".kitchen4" />
        <activity android:name=".kitchen3" />
        <activity android:name=".kitchen2" />
        <activity android:name=".kitchen1" />
        <activity android:name=".home10" />
        <activity android:name=".home9" />
        <activity android:name=".home8" />
        <activity android:name=".home7" />
        <activity android:name=".home6" />
        <activity android:name=".home5" />
        <activity android:name=".home4" />
        <activity android:name=".home3" />
        <activity android:name=".Home2" />
        <activity android:name=".home1" />
        <activity android:name=".BED6" />
        <activity android:name=".BED5" />
        <activity android:name=".BED4" />
        <activity android:name=".BED3" />
        <activity android:name=".BED2" />
        <activity android:name=".HomeEssentials" />
        <activity android:name=".ui.home.loginactivity" />
        <activity
            android:name=".MainActivity"
            android:label="Luxe Interieur"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>